@import "tailwindcss";

@theme {
  --color-background: #fafafa; /* soft light background */
  --color-surface: #ffffff; /* clean white surface */
  --color-accent: #3b82f6; /* modern blue accent */
  --color-accent-hover: #2563eb; /* slightly deeper hover blue */
  --color-text: #1e293b; /* dark slate text */
  --color-text-muted: #64748b; /* soft muted gray-blue text */
  --color-border: #e2e8f0; /* subtle border gray */
  --font-intro: "CTC", sans-serif;
}

@layer components {
  .wrapper {
    @apply max-w-[80%]  md:max-w-[80%] mx-auto;
  }
}

@font-face {
  font-family: "CTC";
  src: url("/fonts/CTC.woff2") format("woff2"),
    url("/fonts/CTC.woff") format("woff"),
    url("/fonts/CTC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body,
html {
  scroll-behavior: smooth;
  font-family: "Epilogue", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
